{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "globals": {
    "_": true,
    "document": true,
    "window": true,
    "Notification": true,
    "fetch": true,
    "navigator": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [ "react" ],
  "rules": {
    "prefer-const": "warn",
    "no-console": "off",
    "no-loop-func": "warn",
    "new-cap": "off",
    "no-param-reassign": "warn",
    "func-names": "off",
    "no-unused-expressions" : "error",
    "block-scoped-var": "error",
    "react/prop-types": "off",
    "no-unused-vars": [2, {"args": "all", "argsIgnorePattern": "^_"}],
    "semi": [2, "never"],
    "quotes": [2, "double"]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.2"
    }
  },
  "env": {
    "es6": true,
    "node": true
  }
}
